<!-- Hey! This is the corrected version of Simple CSS Waves -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="home.css">
  <title> Taseen Majid || Software Engineer</title>
  <style>
    .center-text {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="header center-text"> <!-- Added center-text class for center alignment -->
    <!-- Content before waves -->
    <div class="inner-header flex">
      <!-- Just the logo.. Don't mind this -->
      <div class = "myName">
          <h1> Taseen Majid </h1>
      </div>
      <h2> || Software Engineer & Product Manager ||</h2>
      <p>
        Java ~ Python ~ C ~ C++ ~ SQL ~ JS ~ HTML ~ CSS
      </p>
      <div class = "button-layout">
        <div class = "resume-button">
            <a href = "resume.html" class = "button">Resumes</a>
        </div>
        <div class = "linkedin-button">
            <a href = "https://www.linkedin.com/in/taseen-majid/" class = "button" target="_blank">LinkedIn</a>
        </div>
        <div class = "GitHub-button">
            <a href = "https://github.com/ggTazz" class = "button" target="_blank">GitHub</a>
        </div>
    </div>
    </div>
    <!-- Waves Container -->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
    <!-- Waves end -->
  </div>
  <!-- Header ends -->
  <!-- Content starts -->
  <!-- Content ends -->
</body>
</html>
